@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.navButtonContainer {
  display: flex;
  justify-content: center;
  margin: 30% auto;
  font-family: 'Montserrat', sans-serif; }
  .navButtonContainer button {
    padding: .5rem 5rem; }

.navContainer {
  padding: 1rem;
  height: 110vh;
  background-color: #1B262C;
  font-family: 'Montserrat', sans-serif; }

ul .link {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20% 0%; }

ul .navImage {
  margin-right: 5%;
  fill: currentColor; }

.linkNav {
  text-decoration: none;
  color: #848484;
  font-size: 1.4rem; }

.linkActive {
  text-decoration: none;
  color: #E85556;
  font-size: 1.4rem; }
