@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.actionOpener {
    margin-left: 2.5%;
}

.closed-btn{
        display: flex;
        width: 100%;
        align-items: center;
}

.action-btn-cont{
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    margin: .5rem 0rem;

    .add-h2{
        color: black;
        line-height: .5rem;
    }
}

.add-card{
    overflow: visible;
    min-height: 80;
    min-width: 272;
    padding: 6px 8px 2px;
    margin: .5rem 0rem;

    .add-card-txt-area{
        resize: none;
        width: 100%;
        outline: none;
        border: none;
        overflow: hidden;
    }
}

.actionSubmit{
    color: white;
    background-color: #E85556;
    border-radius: 5rem;
    margin: 1rem 0rem;
    width: 100%;
}
