@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.callback-cont {
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 10%;
    background-color: #2f414b;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.callback-box {
    background-color:white;
    width: 60vw;
    height: 30vh;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
}

.title {
    flex-direction: column;
    background-color: #2f414b;
    padding: 2rem;
}

.callback-bold {
    font-weight: 700;
    color: #e85556;
    font-size: 1.2rem;
}

.highlight {
    color: #e85556;
}

.redirect {
    font-size: .75rem;
}