.feedNav {
  display: flex;
  margin: 3% 0%;
  // border-bottom: 1px solid #848484;
  justify-content: space-around;
}

.feed {
  text-decoration: none;
  color: #848484;
  font-size: 1.2rem;
}

.feedActive {
  text-decoration: none;
  color: #e85556;
  font-size: 1.2rem;
}

.searchBar {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #fff;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.centerSearch {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
