@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    .app {
    text-align: center;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    }
    h1{
    font-family: 'Montserrat', sans-serif;
    }
    h3{
    color: #1B262C;
    font-weight: 300;
    font-size:1.6rem;
    }
    h4, h6{
    color: #848484;
    font-weight: 300;
    font-size: 1rem;
    }
    h5{
    font-size:1.2rem;
    } 
    /* DASHBOARD TITLE */
    .title{
    flex-direction: column;
    width: 20vw;
    background-color:#2F414B;
    padding:2rem;
    }
    .dash-title{
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    }
    .bold{
    font-weight: 700;
    font-size:3rem;
    text-align: left;
    color:white;
    margin-bottom: .2rem;
    }
    .highlight{
    color: #E85556;
    }
    .acct-title{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    width: 100%;
    align-items:center;
    margin-bottom: 1rem;
    .blue-bold{
    color:white;
    font-weight: 700;
    } 
    .button{
        text-decoration: none;
        color: rgb(102, 111, 126);
        padding: 1rem;
        font-weight: 300;
        }
    }
    /* ACCT-CARD */
    .acct-card{
    background-color:white;
    border-radius: .5rem;
    width: 90%;
    justify-content: center;
    padding: 1rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    .all-stats{
    display:flex;
    justify-content: space-evenly;
    }
    .headers{
    color: rgb(102, 111, 126);
    font-size: 1.2rem;
    flex-direction: row;
    font-weight: 200;
    line-height: .5rem;
    }
    .icon{
    border-radius: 5rem;
    width:6rem;
    height: 6rem;
    margin-top: 13rem;
    margin: 0 auto;
    border: solid .1rem #BBE1FA;
    padding: .25rem;
    } 
}
    /* ADD ACCOUNT MODAL */
    .modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    } 