#homeNavContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}
.homeNavUl {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.homeLinkNav {
  list-style: none;
  text-decoration: none;
  color: #848484;
  font-size: 1.4rem;
  margin-right: 5%;
}

.homeLinkNavActive {
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
}
