@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.landing-body {
  background-image: url('../assets/imgs/landingHero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .sticky-footer {
    color: white;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 1rem;
    font-size: 0.9rem;

    .text-align {
      line-height: 0.2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .footer-nav {
        width: 100%;
        display: flex;
        justify-content: center;

        .team-link {
          //   text-decoration: none;
          color: white;
          padding: 0.1rem 1rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}

.landing-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding-top: 1rem;
  height: 10vh;

  .logo-text {
    font-weight: 700;
    text-decoration: none;
    color: white;
    width: 5%;
    font-size: 1.6rem;
  }

  .landing-sign-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 15%;

    .sign-up-btn {
      font-weight: 500;
      text-decoration: none;
      color: #e85556;
      font-size: 1rem;
      padding: 0 0.5rem;
    }

    .sign-in-btn {
      font-weight: 500;
      text-decoration: none;
      color: white;
      font-size: 1rem;
      padding: 0 0.5rem;
    }
  }
}

.center-message {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  justify-content: center;

  .main-text {
    font-weight: 700;
    color: white;
    font-size: 3rem;
    line-height: 2rem;
  }

  .secondary-text {
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
  }
  .start-here {
    font-weight: 400;
    text-decoration: none;
    color: white;
    background-color: #e85556;
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    line-height: 2rem;
  }
}
