@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.navButtonContainer {
  display: flex;
  justify-content: center;
  margin: 30% auto;
  font-family: 'Montserrat', sans-serif;
}

.navContainer {
  padding: 2rem;
  height: 100vh;
  background-color: #1B262C;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
}

ul {
  
  .link {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20% 0%;
  }
  .navImage {
    margin-right: 5%;
  }
}

.linkNav {
  text-decoration: none;
  color: #848484;
  font-size: 1.4rem;
}

.linkActive {
  text-decoration: none;
  color: #E85556;
  font-size: 1.4rem;
}
