@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.drag-drop-content {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7f8;
  padding: 1rem;
  overflow-y: auto;
  height: 110vh;
}
