@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.drag-drop-content{
  font-family: "Montserrat", sans-serif;
  background-color: #F5F7F8;
  padding: 1rem;
  margin: 4rem 0 0 1rem;
  
  #topic-btn{
    border: none;
    background:none;
    font-family: "Montserrat", sans-serif;
    font-size:1rem;
    text-align: left;
}

  .topics {
    display:flex;
    border-radius: .5rem;
    font-family: "Montserrat", sans-serif;
    flex-direction: row;
  }
}

