@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.drag-drop-content {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7f8;
  padding: 1rem;
  overflow-y: auto;
  height: 110vh;

  .select-a-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    margin: 1.75rem 0 0 1rem;
  }

  .headers {
    color: black;
    font-size: 3rem;
  }

  .unselected-headers {
    color: #848484;
    padding: 0.5rem;
  }

  #topic-btn {
    border: none;
    background: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 2.5rem 0 0 1rem;
    color: #e85556;
  }

  .topics {
    display: flex;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    flex-direction: row;
    overflow: auto;
    height: 100%; //DON'T TOUCH THIS <----
    overflow: auto;
  }
}
#topic-scroll {
  overflow-y: overlay;
  height: 50vh;
  padding-right: 1%;
}

.editTopics {
  display: flex;
  flex-direction: row-reverse;

  .topicIcons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .topicTitle {
    text-align: center;
    display: flex;
    margin-right: 17.5%;
  }
}

.container {
  background-color: #ebecf0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  text-align: center;
}

h4.title {
  color: white;
  background-color: #e85556;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.5rem 0rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  margin: 0;
}

.topic-0 {
  h4 {
    background-color: #817bab;
    width: 100%;
  }
}

div.cardlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  background-color: #ebecf0;
  width: 20rem;
  border-radius: 0.5rem;
}

.edit-topic-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .edit-topic-text-area {
    width: 70%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 3px 4px -2px #a3a4ac;
    resize: none;
  }

  span.edit-toggle {
    color: black;
    font-weight: 600;
    padding: 5px;
  }
}

.drafts {
  background-color: green;
}

.edit-card {
  min-height: 150;
  min-width: 272;
  padding: 6px 8px 2px;
  margin: 0.5rem 0 0 0;

  .edit-card-txt-area {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
}

#textareaAuto {
  height: 30px;
}

.action-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  .actionSubmit {
    color: white;
    background-color: #e85556;
    border-radius: 0.5rem;
    width: 40%;
    padding: 0.5rem;
    border: none;
  }
}

#topicContainer {
  display: flex;
  align-items: center;
}
