@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.tweet-now-cont {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7f8;
  padding: 1rem;
  height: 30vh;
  width: 30vw;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  .postNowHeader {
    color: black;
    font-size: 1.6rem;
  }

  .postNowPrompt {
    color: #e85556;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .lineHeight {
    line-height: 0.7;
  }

  .postNowInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;

    .text-area {
      width: 60%;
      border: none;
      border-radius: 0.5rem;
      padding: 1rem;
      box-shadow: 0 3px 4px -2px #a3a4ac;
      resize: none;
    }
  }

  .actionSubmit {
    color: white;
    background-color: #e85556;
    border-radius: 0.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    width: 40%;
  }
}
