.widget-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */
.okta-sign-in-header.auth-header {
    display: none;
}

/* Button */
.button.button-primary {
    width: 100%;
}